
* {
  margin: 0;
  padding: 0;
}

html, body {
  height: 100%;
  margin: 0;
}

#root {
  height: 100%;
  margin: 0;
  display: flex;
}

.gas-form {
  padding: 48px;
  height: 200px;
  width: 200px;
  /* display: inherit;
  flex-direction: column;
  justify-content: center;
  align-items: center; */
}

.gas-form > div{
  margin: 16px 0;
  width: 100%;
  display: inherit;
  justify-content: center;
  align-items: center;
}

.gas-form > .form-title{

}

.gas-form input {
  width: 100%;
  height: 32px;
}

.gas-form > .form-input{
}

input.form-btn{
  color: #fff;
  background-color: #70ad47;
}

